* {
  padding: 0;
   box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background:whitesmoke;
}
  

.item {
    display: flex;
    justify-content: center;
    
}
.deck{
 
  width: 50%;  
  background-color: #695069;
  padding: 3rem;
  border-radius: 4px;
  box-shadow: 8px 9px 26px 0px rgba(46, 61, 73, 0.5);
  margin: 5em 10em 5em;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  
}



.deck .card{
  height: 8rem;
  width: 6rem;
  margin: 0.2rem 0.2rem;
  background: #141214;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
 
} 


.footer{
height: 5vh;
width: 250vh;
background-color: black;
color: white;
padding: 5px 5px 5px 5px;
}